{% extends 'principal/index.html' %} {% block content %}
<table border="1">
    <thead>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Dirección</th>
        <th>Contacto</th>
        <th>Descripción</th>

    </thead>
    <tbody>
        
        <tr>
            <td>{{ org.nombre }}</td>
            <td>{{ org.tipo }}</td>
            <td>{{ org.direccion }}</td>
            <td>{{ org.contacto }}</td>
            <td>{{ org.descripcion }}</td>
        </tr>
       
    </tbody>
</table>
{% endblock %}